{% include "top_layout.html" %}


<div class="w3-container w3-content w3-padding-64 w3-margin-top" >
    <div class="w3-container">
        <h1>The List of Frameworks and Libraries</h1>
    </div>
    <div class="w3-container  w3-green">
        <h5>W3.CSS</h5>
        <p>W3.CSS is a CSS Framework</p>
        <p><a href="https://www.w3schools.com/w3css/w3css_downloads.asp">W3.CSS is free to use. No license is necessary</a></p>
    </div>
    <div class="w3-container  w3-blue">
        <h5>jQuery</h5>
        <p>jQuery is a JavaScript Library</p>
        <p><a href="https://jquery.org/license/">MIT license</a></p>
    </div>
    <div class="w3-container  w3-red">
        <h5>AngularJS</h5>
        <p>AngularJS is a JavaScript framework</p>
        <p><a href="https://material.angularjs.org/latest/license">MIT license</a></p>
    </div>
    <div class="w3-container  w3-yellow">
        <h5>Font Awesome</h5>
        <p><a href="https://fontawesome.com/license/free">Font Awesome Free is free, open source, and GPL friendly</a></p>
    </div> 
    <div class="w3-container  w3-lime">
        <h5>Chart.js</h5>
        <p><a href="https://www.chartjs.org/docs/latest/notes/license.html">MIT license</a></p>
    </div> 
    <div class="w3-container  w3-black">
        <h5>Moment.js</h5>
        <p><a href="https://github.com/moment/moment">MIT license</a></p>
    </div>        
</div>
</body>
<script>
{% include "bottom_layout.html" %}

</script>
</html>