{% include "top_layout.html" %}

<div class="w3-container w3-content w3-padding-64 w3-margin-top w3-half">
  <h2 class="w3-text-blue">Input Form</h2>
  <form class="w3-container w3-card-4 "  method="GET" enctype="multipart/form-data" action="./api/change_data_value">
    
    <p>      
    <label class="w3-text-blue"><b>value</b></label>
    <input class="w3-input w3-border" type="number"  name="data_value"required>    
    <input class="w3-input w3-border" type="hidden"  name="index" value="{{index}}"required>    
    <input class="w3-input w3-border" type="submit"  >   
  </form>
</div>
<div class="w3-container w3-content w3-padding-64 w3-margin-top w3-half">
  <h2 class="w3-text-blue">Image</h2> 
   <P id="output_value" class="w3-red"></P>
   <img id="output_image" width="500" height="600" src="{{image_path}}">
</div>    
</body>

<script>

  {% include "bottom_layout.html" %}
  
  </script>     

</html>