{% include "top_layout.html" %}

<div class="w3-container w3-content w3-padding-64 w3-margin-top w3-half">
  <h2 class="w3-text-blue">Input Form</h2>
  <form class="w3-container w3-card-4 "  method="post" enctype="multipart/form-data">
    
    <p>      
    <label class="w3-text-blue"><b>image rotation</b></label>
    <input class="w3-input w3-border" type="number" id="image_rotation" name="image_rotation" step="90" min="-270" max="270" value="0" required>
    <p>      
    <label class="w3-text-blue"><b>Image</b></label>
    <input type="file" name="imageFile" id="imageFile" class="w3-input w3-border"></p>
    <p><input type="button" id="upload_button" class="w3-btn w3-blue" value="Upload Image" required></p>
  </form>
</div>
<div class="w3-container w3-content w3-padding-64 w3-margin-top w3-half">
  <h2 class="w3-text-blue">Output Area</h2>
  <div id="output_loader"class="loader" style="display: none;"></div>
   <img id="output_image" width="500" height="600">
</div>    

</body>

<script>
  {% include "bottom_layout.html" %}
  
  $("#upload_button").click(function(){
  
    $("#output_loader").get(0).style.display="block";
  
    var fd = new FormData();    
    fd.append( 'imageFile', $("#imageFile").get(0).files[0]);
    fd.append( 'image_rotation', $("#image_rotation").get(0).value );
  
    $.ajax({
      url: './api/circle_base64',
      data: fd,
      processData: false,
      contentType: false,
      type: 'POST',
      success: function(data){
      
        $("#output_image").get(0).src="data:image/jpeg;base64,"+data;
        $("#output_loader").get(0).style.display="none"
      }
    });
  });
  </script>
  
  <style>
    .loader {
      border: 16px solid #f3f3f3;
      border-radius: 50%;
      border-top: 16px solid blue;
      border-bottom: 16px solid blue;
      width: 120px;
      height: 120px;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
    }
    
    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
  </style>  

</html>