{% include "top_layout.html" %}


<div class="w3-container  w3-padding-64 w3-margin-top" >
    <div ng-app="App_1" ng-controller="myCtrl">
    <label class="w3-sans-serif">start_time</label>
    <input type="datetime-local" id="start_time"  ng-model="start_time" pattern=>
    <label class="w3-sans-serif">end_time</label>
    <input type="datetime-local" id="end_time"  ng-model="end_time"> 
    <label class="w3-sans-serif">number of output</label>
    <input type="number" id="number_of_values"  ng-model="number_of_values">

    <div class="dropdown">
      <button class="dropbtn w3-button w3-border w3-xlarge w3-blue">Locations</button>
      <div class="dropdown-content"  >
        <div ng-repeat="x in locations">
        <input type="radio" id="locations" name="locations" value="[[ x[0] ]]" onclick="location_update(this.value)">
        <label>[[ x[0] ]]</label><br>
      </div>
      </div>
    </div>
    <input type="hidden" id="location"  > 
    <Button id="submit_button" ng-click="submit_Function()">Submit_button</Button>
    
    <img ng-src="[[digit_image_source]]" ng-show="digit_image_show_bool" ng-style="digit_image_show_style" style="position:absolute;z-index: 10;" width="200" height="200" id="digit_image">
    <table class="w3-table w3-striped">
      <tr>
        <th>Location</th>
        <th>value</th>
        <th>Time</th>
      </tr>
      <tr ng-repeat="x in values_0">
        <td>[[ x[0]  ]]</td>
        <td><a ng-mouseover="show_digit_image($event.target)" ng-mouseleave="hide_digit_image()" href="./change_data_value?index=[[ x[3]  ]]&image_path=./images/circle_images/[[ x[0]  ]]/[[ x[3]  ]].jpg" data-link="./images/circle_images/[[ x[0]  ]]/[[ x[3]  ]].jpg">[[ x[1]  ]]</a></td>
        <td>[[ x[2]  ]]</td>
      </tr>
    </table>
  </div>
</div>
</body>
<script>
{% include "bottom_layout.html" %}
var app = angular.module('App_1', []);
   app.config(['$interpolateProvider', function($interpolateProvider) {
      $interpolateProvider.startSymbol('[[');
      $interpolateProvider.endSymbol(']]');
    }]);

app.controller('myCtrl', function($scope,$http,$interval) {

  $http({
        method : "GET",
        url : "./api/location_list",
        params: {
                }
    }).then(function (response) {                   
           $scope.locations=response.data;
        }, function (response) {
              console.log("very wrong");
        });
      
  $scope.submit_Function= function() {
    var start_time=time_convert(document.getElementById("start_time").value);
    var end_time=time_convert(document.getElementById("end_time").value);
    
    $http({
        method : "GET",
        url : "./api/value_list",
        params: {start_time: start_time,
                 end_time:   end_time,
                 number_of_values: $scope.number_of_values,
                 location: document.getElementById("location").value
                }
    }).then(function (response) {                   
           $scope.values_0=response.data;
        }, function (response) {
          console.log("very wrong");
            });
  }

  $scope.show_digit_image=function(a)
  {
    $scope.digit_image_source=a.getAttribute("data-link");
    var rect = a.getBoundingClientRect();
    var left=rect.left+rect.width+window.pageXOffset;
    var top= rect.top+window.pageYOffset;
    
    var d_image=document.getElementById("digit_image");
    d_image.style.left=left.toString()+"px";
    d_image.style.top=top.toString()+"px";
    $scope.digit_image_show_bool=true;


  }
  $scope.hide_digit_image=function()
  {
    $scope.digit_image_show_bool=false;
  }


  $interval($scope.submit_Function, 10000);
  $scope.submit_Function();
});


function location_update(a_location)
{
  document.getElementById("location").value=a_location;
};

function time_convert(value)
{
    if (value =='')
      return '';
    else
      return (value.toString().replace(['T'],' ')+':00');
}


</script>
<style>
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
  </style>
</html>