{% include "top_layout.html" %}


<div class="w3-container  w3-padding-64 w3-margin-top" >
<h2>Device ID: {{id}}</h2>

<form id="regForm" action="./api/device/change_device_profile" class="w3-content">
    <div class="tab">
    <h3>Most recent image:</h3>
    <img src=""  width="500" height="500"  class="w3-border w3-padding" id="most_recent_image">

    <div style="display: inline-block;" class="w3-margin-left" >
    
    <input type="radio" id="angel_90" name="rotation" value="-90">
    <label for="auto_detection" class="w3-text-blue w3-large">auto detection</label><br>
    

    <h3 class="w4-text-blue w4-large">manual setting</h3>
    <input type="radio" id="angel_0" name="rotation" value="0" checked="checked">
    <label for="angel_0" class="w3-text-blue w3-large">0 degree</label><br>
    <input type="radio" id="angel_90" name="rotation" value="90">
    <label for="angel_90" class="w3-text-blue w3-large">90 degree </label><br>
    <input type="radio" id="angel_180" name="rotation" value="180">
    <label for="angel_180" class="w3-text-blue w3-large">180 degree</label><br>
    <input type="radio" id="angel_270" name="rotation" value="270">
    <label for="angel_270" class="w3-text-blue w3-large">270 degree</label><br>
    </div>
    </div>

    <div class="tab">
    <div id="output_loader"class="loader" style="display: none;"></div>
    <canvas src="" width="500" height="500" id="most_recent_image_circle_1" style="cursor: crosshair;">
    </canvas>
   
    <div style="float:top" class="w3-margin-left" >
      <button type="button" class="w3-btn w3-ripple w3-blue" id="default_button">Default</button> 
      <button type="button" class="w3-btn w3-ripple w3-blue" id="reset_button">Reset</button> 
      <button type="button" class="w3-button w3-circle w3-blue" id="plus_button">+</button>
      <button type="button" class="w3-button w3-circle w3-blue" id="minus_button">-</button>
    </div>
    </div>

    <div class="tab">
      
      <img src="" width="500" height="500"  class="w3-border" id="most_recent_image_circle_2">
      <div style="display: inline-block;" class="w3-margin-left" >
        <label class="w3-text-blue">Reading Value</label>
        <input class="w3-input  w3-border" type="number" name="lower_bound_value" id="lower_bound_value" autocomplete="off" required>
        <label class="w3-text-blue">Location</label>
        <input class="w3-input w3-border" type="text" id="location" name="location" size="25" autocomplete="off" value="{{location}}" required></p>
        <label class="w3-text-blue">flashlight duty_cycle</label>
        <input class="w3-input w3-border" type="text" id="duty_cycle" name="duty_cycle" size="25" autocomplete="off" value="{{duty_cycle}}" required></p>
        <label class="w3-text-blue">Flashlight</label>
        <input type="checkbox" name="flashlight" id="flashlight"  class="w3-check"  value='1' checked>
        
        <input  type="hidden" id="setting" name="setting" >
        <input  type="hidden" id="id" name="id" value="{{id}}" >
        <input  type="hidden" id="device_type" name="device_type" value ="{{device_type}}" >
      </div>
    </div>

   
    <!-- Circles which indicates the steps of the form: -->
    <div style="text-align:center;margin-top:40px;">
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
      <div style="display:block;">
        <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
        <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
      </div>
    </div>
</form>

</div>
</body>
<script>
{% include "bottom_layout.html" %}

var degree={{rotation}};
var flashlight={{flashlight}};
var duty_cycle={{duty_cycle}};
var img_obj_base64;
var counters;
var i=0;
for(i=0;i<document.getElementsByName("rotation").length;i++)
{
  if(document.getElementsByName("rotation")[i].value==degree)
    { document.getElementsByName("rotation")[i].checked="checked";
    if(degree>=0)
      $("#most_recent_image").css({ WebkitTransform: 'rotate(' + degree + 'deg)'});
    }
}

if(flashlight==0){document.getElementById("flashlight").checked=false;}


var canvas_0=$("#most_recent_image_circle_1").get(0);
var context_0=canvas_0.getContext("2d");
var width=canvas_0.width;
var height=canvas_0.height;
var last_mousex = last_mousey = 0;
var mousex = mousey = 0;
var mousedown = false;
//loading most recent image on start and get the binary object
$(document).ready(function(){
  $.get("./api/recent_image?id={{id}}", function(data, status){
      $("#most_recent_image").get(0).src="data:image/jpeg;base64,"+data;
      img_obj_base64=data;
        
  });
});

$("input").change(function() {
   var type = $(this).attr("type");
   var value = $(this).attr("value");
   if(type=='radio')
   {
     if(value >=0)
     {$("#most_recent_image").css({ WebkitTransform: 'rotate(' + value + 'deg)'});}
    degree=value;
   }
});

$("#reset_button").click(function() {
  context_0.clearRect(0,0,canvas_0.width,canvas_0.height);
  context_0.beginPath();
  counters=new Array();
  counters.push([0,0,0,0]);
});

$("#default_button").click(function() {
  context_0.clearRect(0,0,canvas_0.width,canvas_0.height);
  context_0.beginPath();
  $.get("./api/device/setting?id={{id}}", function(data, status){
               
               counters=data;
               var i;
               for (i = 0; i < counters.length; i++) {
                 //convert to display scale
                 counters[i][0]=parseInt(counters[i][0]*height);
                 counters[i][1]=parseInt(counters[i][1]*width);
                 counters[i][2]=parseInt(counters[i][2]*height);
                 counters[i][3]=parseInt(counters[i][3]*width);
                 context_0.rect(counters[i][1],counters[i][0], (counters[i][3]-counters[i][1]), (counters[i][2]-counters[i][0]));
               }
              
               context_0.stroke();
             });     
});


$("#plus_button").click(function() {
  var i=counters.length-1;
  if(counters[i][0]==0||counters[i][1]==0||counters[i][2]==0||counters[i][3]==0)
    {}
  else
    {
      counters.push([0,0,0,0]);
    }
});

$("#minus_button").click(function() {
  var i=counters.length-1;
  context_0.clearRect(counters[i][1]-context_0.lineWidth,counters[i][0]-context_0.lineWidth, (counters[i][3]-counters[i][1])+context_0.lineWidth*2, (counters[i][2]-counters[i][0]+context_0.lineWidth*2));//clear canvas
  context_0.beginPath();
  counters.pop();
});

$(canvas_0).on('mousedown', function(e) {
    last_mousex = parseInt(e.clientX- $(canvas_0).offset().left);
    last_mousey = parseInt(e.clientY-$(canvas_0).offset().top);
    mousedown = true;
});

//Mouseup
$(canvas_0).on('mouseup', function(e) {
    mousedown = false;
});

//Mousemove
$(canvas_0).on('mousemove', function(e) {
    mousex = parseInt(e.clientX-$(canvas_0).offset().left);
    mousey = parseInt(e.clientY-$(canvas_0).offset().top);    
    if(mousedown) {
        var i=counters.length-1;
        context_0.clearRect(counters[i][1]-context_0.lineWidth,counters[i][0]-context_0.lineWidth, (counters[i][3]-counters[i][1])+context_0.lineWidth*2, (counters[i][2]-counters[i][0]+context_0.lineWidth*2));//clear canvas
        context_0.beginPath();
        var width_local = mousex-last_mousex;
        var height_local = mousey-last_mousey;
        context_0.rect(last_mousex,last_mousey,width_local,height_local);
        counters[i]=[last_mousey,last_mousex,mousey,mousex];
        context_0.strokeStyle = 'black';
        context_0.lineWidth = 1;
        context_0.stroke();
    }
  });
var currentTab = 0; // Current tab is set to be the first tab (0)
var previousTab = 0; // Current tab is set to be the first tab (0)
showTab(currentTab,previousTab); // Display the current tab
function showTab(n,p) {
  // This function will display the specified tab of the form... 
  var x = document.getElementsByClassName("tab");
  x[n].style.display = "block";
  //... and fix the Previous/Next buttons:
  if (n == 0) {
    document.getElementById("prevBtn").style.display = "none";
  } else {
    document.getElementById("prevBtn").style.display = "inline";
  }
  if (n == (x.length - 1)) {
    document.getElementById("nextBtn").innerHTML = "Finish";
  } else {
    document.getElementById("nextBtn").innerHTML = "Next";
  }

  if(n==1 && p==0)
  {
    var fd = new FormData();    
    fd.append( 'imageFile', base64ToBlob(img_obj_base64,"image/jpeg"));
    fd.append( 'image_rotation',  degree);
    $("#output_loader").get(0).style.display="block"
    $.ajax({
      url: './api/circle_base64',
      data: fd,
      processData: false,
      contentType: false,
      type: 'POST',
      success: function(data){
      
        $("#most_recent_image_circle_1").get(0).style.backgroundImage="url('data:image/jpeg;base64,"+data+"')";
        $("#most_recent_image_circle_2").get(0).src="data:image/jpeg;base64,"+data;
        $("#output_loader").get(0).style.display="none"
        $.get("./api/device/setting?id={{id}}", function(data, status){
               
              counters=data;
              var i;
              for (i = 0; i < counters.length; i++) {
                //convert to display scale
                counters[i][0]=parseInt(counters[i][0]*height);
                counters[i][1]=parseInt(counters[i][1]*width);
                counters[i][2]=parseInt(counters[i][2]*height);
                counters[i][3]=parseInt(counters[i][3]*width);
                context_0.rect(counters[i][1],counters[i][0], (counters[i][3]-counters[i][1]), (counters[i][2]-counters[i][0]));
              }
              context_0.stroke();
            });
      }
    });
  }
  //... and run a function that will display the correct step indicator:
  fixStepIndicator(n)
}


function nextPrev(n) {
  // This function will figure out which tab to display
  var x = document.getElementsByClassName("tab");
  // Exit the function if any field in the current tab is invalid:
  //if (n == 1 ) return false;
  // Hide the current tab:

  x[currentTab].style.display = "none";
  // Increase or decrease the current tab by 1:
  previousTab=currentTab;
  currentTab = currentTab + n;
  // if you have reached the end of the form...
  if (currentTab >= x.length) {
    // ... the form gets submitted
   
    var i;
    for (i = 0; i < counters.length; i++) {
       //convert to per unit scale
      counters[i][0]=(counters[i][0]/height).toFixed(3);
      counters[i][1]=(counters[i][1]/width).toFixed(3);
      counters[i][2]=(counters[i][2]/height).toFixed(3);
      counters[i][3]=(counters[i][3]/width).toFixed(3);
    }
    $("#setting").get(0).value=JSON.stringify(counters);
    $("#setting").get(0).value=$("#setting").get(0).value.replace(/['"]+/g, '')
    document.getElementById("regForm").submit();
    return false;
  }
  // Otherwise, display the correct tab:
  showTab(currentTab,previousTab);
}

function fixStepIndicator(n) {
  // This function removes the "active" class of all steps...
  var i, x = document.getElementsByClassName("step");
  for (i = 0; i < x.length; i++) {
    x[i].className = x[i].className.replace(" active", "");
  }
  //... and adds the "active" class on the current step:
  x[n].className += " active";
}

function base64ToBlob(base64, mime) 
{
    mime = mime || '';
    var sliceSize = 1024;
    var byteChars = window.atob(base64);
    var byteArrays = [];

    for (var offset = 0, len = byteChars.length; offset < len; offset += sliceSize) {
        var slice = byteChars.slice(offset, offset + sliceSize);

        var byteNumbers = new Array(slice.length);
        for (var i = 0; i < slice.length; i++) {
            byteNumbers[i] = slice.charCodeAt(i);
        }

        var byteArray = new Uint8Array(byteNumbers);

        byteArrays.push(byteArray);
    }

    return new Blob(byteArrays, {type: mime});
}


</script>

<style>
    /* Mark input boxes that gets an error on validation: */
    input.invalid {
      background-color: #ffdddd;
    }
    
    /* Hide all steps by default: */
    .tab {
      display: none;
    }
    
    button {
      background-color: #6b00f9;
      color: #ffffff;
      border: none;
      padding: 10px 20px;
      font-size: 17px;
      font-family: Raleway;
      cursor: pointer;
    }
    
    button:hover {
      opacity: 0.8;
    }
    
    #prevBtn {
      background-color: #bbbbbb;
    }
    
    /* Make circles that indicate the steps of the form: */
    .step {
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbbbbb;
      border: none;  
      border-radius: 50%;
      display: inline-block;
      opacity: 0.5;
    }
    
    .step.active {
      opacity: 1;
    }
    
    /* Mark the steps that are finished and valid: */
    .step.finish {
      background-color: #4CAF50;
    }

    canvas{
    
    background-position: center;
    background-size: 100% 100%;
    }


    .loader {
      border: 16px solid #f3f3f3;
      border-radius: 50%;
      border-top: 16px solid blue;
      border-bottom: 16px solid blue;
      width: 120px;
      height: 120px;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
    }
    
    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
</style>

</html>