{% include "top_layout.html" %}


<div class="w3-container  w3-padding-64 w3-margin-top" >
<h2>Device ID: {{id}}</h2>

<form class="w3-container w3-card-4 w3-content"  method="get" enctype="multipart/form-data" action="./api/device/change_device_profile">
    <h2 class="w3-text-blue">Device Information</h2>
  <p>      
  <label class="w3-text-blue"><b>Location</b></label>
  <input class="w3-input w3-border" type="text" id="location" name="location" autocomplete="off" required>
  <input class="w3-input w3-border" type="hidden"  name="id"   value="{{id}}"required>
  <input class="w3-input w3-border" type="hidden"  name="device_type"  value="{{device_type}}" required>
  </p>
  <p><input type="submit" id="upload_button" class="w3-btn w3-blue" value="Finish" required></p>
</form>
</body>
<script>
{% include "bottom_layout.html" %}

</script>
</html>