{% include "top_layout.html" %}


<div class="w3-container  w3-padding-64 w3-margin-top" ng-app="App_1" ng-controller="device_list_controller"> 
    <h2>Registered Device List (reflesh once 5 seconds)</h2>  
    <table class="w3-table w3-striped w3-border">
      <tr>
        <th>id</th>
        <th>location</th>
        <th>device type</th>
        <th>check point</th>
      </tr>
      <tr ng-repeat="x in devices">
        <td>[[ x[0]  ]]</td>
        <td>[[ x[1]  ]]</td>
        <td>[[ x[2]  ]]</td>
        <td>[[ x[3]  ]]</td>
        <td><a href="./new_device_registration_steps?id=[[ x[0]  ]]&device_type=[[ x[2]  ]]" class="w3-btn w3-blue">change Setting</a></td>
        <td><a href="./api/device/change_device_profile?location=no&id=[[ x[0]  ]]&device_type=[[ x[2]  ]]" class="w3-btn w3-blue" name="remove_button" onclick="confirm_remove_button(event)">Remove Device</a></td>
      </tr>
    </table>
  </div>
</body>
<script>
{% include "bottom_layout.html" %}
    var app = angular.module('App_1', []);
   app.config(['$interpolateProvider', function($interpolateProvider) {
      $interpolateProvider.startSymbol('[[');
      $interpolateProvider.endSymbol(']]');
    }]);
   app.controller('device_list_controller', function($scope, $http, $interval) {
    
        function retrive_data(){
            $http.get("./api/registered_device_list")
            .then(function (response) {
            $scope.devices = response.data;});}
    
      $interval(retrive_data, 5000);
       retrive_data();
   });

   function confirm_remove_button(event)
   {
     if (confirm("will remove the device: ")) {
    
     } else {
      event.preventDefault();
    }
  }
</script>
</html>