{% include "top_layout.html" %}


<div class="w3-container  w3-padding-64 w3-margin-top" >

<form class="w3-container w3-card-4 w3-content"  method="POST" enctype="multipart/form-data" action="../api/device_input">
    <h2 class="w3-text-blue">Device Information</h2>
  <p>      
  <label class="w3-text-blue"><b>mac_address</b></label>
  <input class="w3-input w3-border" type="text" id="location" name="mac_address" autocomplete="off" required>
  <label class="w3-text-blue"><b>device_type</b></label>
  <input class="w3-input w3-border" type="text"  name="device_type"   required>
  <label class="w3-text-blue"><b>value</b></label>
  <input class="w3-input w3-border" type="number"  name="value" required>
  <p><input type="file" id="imageFile" class="w3-btn w3-blue" value="Upload Image" name="imageFile" required></p>
  </p>
  <p><input type="submit" id="upload_button" class="w3-btn w3-blue" value="Test" required></p>
</form>
</body>
<script>
{% include "bottom_layout.html" %}
</script>
</html>