{% include "top_layout.html" %}


<div class="w3-container  w3-padding-64 w3-margin-top" >
    <div class="w3-threequarter w3-container">
      <div class="dropdown">
        <button class="dropbtn w3-button w3-border w3-xlarge w3-blue">Locations</button>
        <div class="dropdown-content"  id="dropdown_area">
     

        </div>
      </div>

        <h2>Graph</h2>  
        <canvas id="canvas_graph"></canvas>
        <h2>Graph2</h2> <input type="number" style="display: inline-block;" onchange="update_graph_ratio(this.value)" id="graph_ratio"/>
        <canvas id="canvas_graph_2"></canvas>
      </div>
      <div class="w3-quarter w3-container w3-border w3-sidebar" style="right:0">
        <h2>Summary</h2>
        <div id="summart_output_area"></div>
      </div>
</div>
</body>
<script>
{% include "bottom_layout.html" %}
var combined_datasets=new Array();
var ctx = document.getElementById('canvas_graph');
var chart = new Chart(ctx, {
  type: 'line',
  data: { datasets: combined_datasets },
  options: {
    scales: {
      xAxes: [{
        type: 'time',
        time:   {
                    displayFormats: {
                      second:'h:mm:ss a',
                      day:'MMM D'
                    }
                },
        distribution: 'linear',
        ticks:{
                source: 'auto'
            }
        
      }]
    }
  }
});

var graph_data;
var location_data=new Array();
var a_location;
$.ajax({url: "./api/value_list_graph", success: function(result){
    graph_data=result;
    var i=0;
    var j=0;
    for(i=0;i<graph_data.length;i++)
    { 

      location_data.push(graph_data[i].location);
      //shows the data from the first location
      if (i==0)
      {
        var dataset={}
        a_location=graph_data[i].location;
        dataset.label=graph_data[i].location;
        dataset.data=new Array();
        for(j=0;j<graph_data[i].values.length;j++)
        { 
          dataset.data.push({
                              x:new Date(graph_data[i].values[j][1]),
                              y:graph_data[i].values[j][0]
                            })
        }        
        combined_datasets.push(dataset);
    }
 
    }
    var b_html=""
    for(i=0;i<location_data.length;i++)
    {
          b_html+= "<input type='radio' id='locations' name='locations' value='"+location_data[i]+"' onclick='location_update(this.value)'><label>"+location_data[i]+"</label><br>";
    }
    $("#dropdown_area").html(b_html);
    chart.update();
    $('#graph_ratio').val(40);
    $("#graph_ratio").trigger( "change" );
  }});


var combined_datasets_2=new Array();
var ctx_2 = document.getElementById('canvas_graph_2');
var chart_2 = new Chart(ctx_2, {
  type: 'line',
  data: { datasets: combined_datasets_2 },
  options: {
    scales: {
      xAxes: [{
        type: 'time',
        time:   {
                    displayFormats: {
                      second:'h:mm:ss a',
                      day:'MMM D'
                    }
                },
        distribution: 'linear',
        ticks:{
                source: 'auto'
            }
        
      }]
    }
  }
});

var graph_data_2;
function update_graph_ratio(a){
$.ajax({url: "./api/value_list_graph_2?ratio="+a, success: function(result){
    graph_data_2=result;
    combined_datasets_2.pop();
    var i=0;
    var j=0;
    for(i=0;i<graph_data_2.length;i++)
    { 
      //shows the data from the first location
      if (graph_data_2[i].location==a_location)
      {
        var dataset={}
        dataset.label=graph_data_2[i].location;
        dataset.data=new Array();
        for(j=0;j<graph_data_2[i].values.length;j++)
        { 
          dataset.data.push({
                              x:new Date(graph_data_2[i].values[j][1]),
                              y:graph_data_2[i].values[j][0]
                            })
        }        
        combined_datasets_2.push(dataset);
    }
 
    }
    chart_2.update();
  }});
}




  function location_update(a)
  {
    a_location=a;
    var i=0;
    var j=0;
    combined_datasets.pop(); 
    for(i=0;i<graph_data.length;i++)
    { 
      //shows the data from the first location
      if (graph_data[i].location==a_location)
      {
        console.log(a)
        var dataset={}
        dataset.label=graph_data[i].location;
        dataset.data=new Array();
        for(j=0;j<graph_data[i].values.length;j++)
        { 
          dataset.data.push({
                              x:new Date(graph_data[i].values[j][1]),
                              y:graph_data[i].values[j][0]
                            })
        } 
              
        combined_datasets.push(dataset);
      }
 
    } 
    chart.update();
    
    combined_datasets_2.pop(); 
    for(i=0;i<graph_data_2.length;i++)
    { 
      //shows the data from the first location
      if (graph_data_2[i].location==a_location)
      {
        console.log(a)
        var dataset={}
        dataset.label=graph_data_2[i].location;
        dataset.data=new Array();
        for(j=0;j<graph_data_2[i].values.length;j++)
        { 
          dataset.data.push({
                              x:new Date(graph_data_2[i].values[j][1]),
                              y:graph_data_2[i].values[j][0]
                            })
        } 
              
        combined_datasets_2.push(dataset);
      }
 
    } 
    chart_2.update();   

  }



  $.ajax({url: "./api/summary_list_graph", success: function(result){
    var a_html="<ul class='w3-ul w3-card-4'>"
    var i=0;
    for(i=0;i<result.length;i++)
    { 
      a_html +="<li>"+result[i]+"</li>";
    }
      a_html +="</ul>"
    $('#summart_output_area').get(0).innerHTML=a_html;
  }});



</script>
<style>
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
  </style>
</html>